*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    display: grid; 
    grid-template-columns: 1fr 12fr 1fr ; 
  grid-template-rows: 0.2fr 0.6fr 60fr 68fr 70fr 10fr 1fr 1fr; 
  
    gap: 2px 6px; 
   
    background-color: gainsboro;

    grid-template-areas: 
    "head head head"
    "nav nav nav"
    "main main main"
    "main main main"
    "main main main"
    "foot foot foot"; 

}

.header{
    grid-area: head;

}

.header-container{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
  

    background-color: white;

    height: 100%;
    width: 100%;
}

.header-image{
    display: block;
    width: 100px;
    height: 100px;
}

#search{
    display: block;
    width: 80%;
    height: 40%;
    border: 1px solid blue;
    border-radius: 10em;

    text-align:center;
}

.header-search{
    display: flex;
    flex-direction: row;

    align-items: center;
    width:30%;

    height: 50%;
}

.header-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
    width: 20%;

    height: 50%;
}

.nav{
    grid-area: nav;


     background: linear-gradient(to right,#ff1d25 5%,#a0328c 35%,#7040a4 45%,#4359c7 55%,#0082e6 70%);
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    

   
}

.produse-container{
    display: flex;

    background-color: white;

    border-radius: 1em;

    align-items: center;

    text-decoration: none;
    color: black;

    min-width: 100px;
    
   
    
    
}

.selector-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: white;
   
    width: 35%;
}

.emag-help a{
    text-decoration: none;
    color: white;
}



.main{
    grid-area: main;
  
}

.aside1{
    grid-area: aside1;
}

.footer{
    grid-area: foot;
 
}

.products-info{
    grid-area:products;
}
.page-section{
    grid-area: page;
}