*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    display: grid; 
    grid-template-columns: 1fr 12fr 1fr ; 
  grid-template-rows: 0.2fr 0.2fr 40fr 8fr 10fr 20fr 1fr 1fr; 
  
    gap: 2px 6px; 
   
    background-color: gainsboro;

    grid-template-areas: 
    "head head head"
    "nav nav nav"
    "main main main"
    "main main main"
    "main main main"
    "foot foot foot"; 

}

.header{
    grid-area: head;

}

.header-container{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
  

    background-color: white;

    height: 100%;
    width: 100%;
}

.header-image{
    display: block;
    width: 100px;
    height: 100px;
}

#search{
    display: block;
    width: 80%;
    height: 40%;
    border: 1px solid blue;
    border-radius: 10em;

    text-align:center;
}

.header-search{
    display: flex;
    flex-direction: row;

    align-items: center;
    width:30%;

    height: 50%;
}

.header-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;
    width: 20%;

    height: 50%;
}

.nav{
    grid-area: nav;


     background: linear-gradient(to right,#ff1d25 5%,#a0328c 35%,#7040a4 45%,#4359c7 55%,#0082e6 70%);
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;

    

   
}

.produse-container{
    display: flex;

    background-color: white;

    border-radius: 1em;

    align-items: center;

    text-decoration: none;
    color: black;

    min-width: 100px;
    
   
    
    
}

.selector-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    color: white;
   
    width: 35%;
}

.emag-help a{
    text-decoration: none;
    color: white;
}



.main{
    grid-area: main;

    display: grid;

  border: 2px solid black;

    
    grid-template-columns: 0.5fr 1fr 1fr; 
    grid-template-rows: 200px 1.9px 1fr 1fr; 
    gap: 3px 3px; 
    grid-template-areas: 
      "aside1 aside2 aside2"
      "aside1 product-container product-container"
      "aside1 product-container product-container"
      "aside1 product-container product-container"; 
  }

  .aside1 { 
    grid-area: aside1;


display: grid;
grid-template-columns: 200px;
grid-template-rows: 190px 80px 280px 320px 110px 150px 210px 90px;
grid-row-gap: 10px;
font-size: 12px;
margin-left: 5%;

}

.product-category-selector{
    display: flex;
    flex-direction: column;
    background-color: #0082e64f;
    color: rgba(0, 0, 255, 0.458);
}

.selector-container-info{
    display: flex;
    flex-direction: column;
    background-color: white;
   
    align-items: center;
    justify-content: center;

}

.selector-container-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.selector-container-image{
    display: block;
    width: 90px;
    height: 25px;
}

.selector-container-title{
    display: block;
    width: 100%;
}

.selector-container-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 100%;
    
}

.selector-container-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;

    justify-content: space-around;
    width: 90%;
    height: 100%;
}






.selector-container-item a{
  text-decoration: none;   
  color: black;
}


  .aside2 { 
    grid-area: aside2;
}

  .product-container { 
    grid-area: product-container;
 }
  



.footer{
    grid-area: foot;
 
}

.products-info{
    grid-area:products;
}
.page-section{
    grid-area: page;
}